.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
.grid-item {
    @extend .jc-c;
    background-color: #463d37 ;
    align-items: center;
    flex-direction: column;
}   