.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 75%;  
    row-gap: 3%;
    margin-left:13%;   
}
.grid-item-productos {
    @extend .jc-c;
    background-color: #352f2b ;
    align-items: center;
    flex-direction: column;
} 
