@media screen and   (max-width: 700px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap:8px;
    }
    .grid-item {
        background-color: #463d37 ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 85%;
    }
    .footer-all{
        background-color: black;
        height: 190px;
        margin-top: 200%;
        width: 100%;
    }
    .footer-productos{
        margin-top: 440%;
    }
    .logosJuntos{
        display: flex;
        justify-content:center;
        width: 100%;
    }
    .logoredes{
        width: 50%;
    }
    .ul-list{
        display: flex;
        justify-content: space-between;
        width: 600px;
        margin-left: 100px;
        margin-bottom: 0px;
    }
    .list-h{
        text-decoration: none;
        color: #b6a486;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
    }
    .main-index{
        height: 200px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        margin-left: 30px;
    }
}