@media screen and (max-width: 700px){
/** ALL **/
    .footer-all{
        background-color: $f;
        height: 190px;
        margin-top: 200%;
        width: 100%;  
        .logosJuntos{
            display: flex;
            justify-content:center;
            width: 100%;
            .logoredes{
                width: 50%;
            }
        }
    }

/** PAGE INDEX **/

    .main-index{
        height: 200px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        margin-left: 0%;
    }
    .p-index{
        margin-top: 6%;
        margin-left: 2%;
        margin-right: 2%;
    }


/** PAGE PRODUCTOS/PROMOCIONES **/

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap:8px;
    }
    .grid-item {
        background-color: #463d37 ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 85%;
    }
    .footer-productos{
        margin-top: 440%;
    }

/** PAGE CONTACTO **/

    .contenedor-contacto{
        margin-top: 3%;
        display: flex;
        flex-direction: column;
    }
    .div-cont{
        background-color:$cards-bg;
        border-radius: $border-r;
        width: 89%;
        margin-left: 2%;
        padding:1% ;
        margin-top: 4%;
    } 
    .div-form{
        background-color:$cards-bg;
        border-radius: $border-r;
        padding: 1%;
        width: 89%;
        margin-left: 2%;
        margin-top: 5%;
    }

/** PAGE NOSOTROS **/
    .contenedor{
        display: grid;
        flex-direction: column;
    }
    .footer-nosotros{
        background-color: $f;
        height: 190px;
        margin-top: 200%;
        width: 100%;  
        .logosJuntos-nosotros{
            display: flex;
            justify-content:center;
            width: 100%;
            .logoredes-nosotros{
                width: 50%;
            }
        }
    }
}
