.main-productos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 30px;
    height: 600px;
}

.products{
    background-color: #463d37;
    display: inline-block;
    border-radius: 17px;
    padding: 30px;
    margin: 10px;
}

.price{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    background-color: #1f1e1e;
}

.product-img{
    width: 20vh;
    height: 20vh; 
}